In [1]:
import os 
os.chdir("../..")
import numpy
import numpy as np
import pandas as pd
import datetime
from scripts.PdfParse import *

In [2]:
tonga_folder = os.getcwd() + "/data/tourism/tonga/temp/"
tonga_files = os.listdir(tonga_folder)
filepaths = [tonga_folder + file for file in tonga_files]

In [3]:
def create_month_mapping():

    month_equv = dict()

    for i in range(1, 13):
        month_abbre = datetime.date(1900, i, 1).strftime('%b')
        month_full = datetime.date(1900, i, 1).strftime('%B')
        month_equv.update({month_full: i, month_abbre: i})

    return month_equv


def parse_filename(filename: str):

    filename_lst = filename.replace(".csv", "").split("-")

    identifier = {"year": [], "month": []}
    for elem in filename_lst:
        if elem.isdigit() == True:
            if len(elem) == 4:
                identifier["year"].append(elem)
        else:
            temp_dict = create_month_mapping()
            for (key, val) in temp_dict.items():
                if elem in key:
                    identifier["month"].append(val)
                    
    return identifier

In [26]:
tonga = pd.DataFrame()
for file, filepath in zip(tonga_files, filepaths):
    if ".csv" in file:
        print(f"{file} has started.")
        df = pd.read_csv(filepath).drop("Unnamed: 0", axis=1)
        df = df[["Country", "Total"]]
        df["Total"] = (df["Total"].str.replace(",", "")
                       .str.replace("-", "0")
                       .str.replace(" ", "")
                       .astype("int"))
        time = parse_filename(file)
        year, month = time["year"][0], time["month"][0]
        df.columns = ["country", str(year) + "-" + str(month)]
        df["country"] = df["country"].str.replace(" ", "")
        df = df.T
        df.columns = df.iloc[0,].to_list()
        tonga = pd.concat([tonga, df], axis=0)

Migration-November-Report-2019.csv has started.
03-March-Migration-Report-2013.csv has started.
11-November-Migration-Report-2013.csv has started.
02-Migration-Report-Feb-2016.csv has started.
12-Migration-Report-Dec-2016.csv has started.
10-October-Migration-Report-2013.csv has started.
07-Migration-Report-Jul-2016.csv has started.
09-Migration-Report-Sept-2016.csv has started.
08-August-Migration-Report-2013.csv has started.
03-March-Migration-Report-2015.csv has started.
11-November-Migration-Report-2014.csv has started.
03-March-Migration-Report-2014.csv has started.
Migration-September-Report-2019.csv has started.
08-August-Migration-Report-2014.csv has started.
10-October-Migration-Report-2014.csv has started.
08-August-Migration-Report-2015.csv has started.
Migration-December-Report-2019.csv has started.
Migration-January-Report-2020.csv has started.
Migration-August-Report-2019.csv has started.
12-December-Migration-Report-2014.csv has started.
Migration-January-Report-2021.csv has started.
Migration-January-Report-2019.csv has started.
06-June-Migration-Report-2015.csv has started.
06-June-Migration-Report-2014.csv has started.
12-December-Migration-Report-2013.csv has started.
Migration-Report-Jan-2017.csv has started.
01-Migration-Report-Jan-2016.csv has started.
04-April-Migration-Report-2015.csv has started.
04-April-Migration-Report-2014.csv has started.
05-Migration-Report-May-2016.csv has started.
04-April-Migration-Report-2013.csv has started.
05-May-Migration-Report-2015.csv has started.
11-Migration-Report-Nov-2016.csv has started.
05-May-Migration-Report-2014.csv has started.
10-Migration-Report-Oct-2016.csv has started.
01-January-Migration-Report-2014.csv has started.
08-Migration-Report-Aug-2016.csv has started.
01-January-Migration-Report-2015.csv has started.
03-Migration-Report-Mar-2016.csv has started.
07-July-Migration-Report-2015.csv has started.
04-Migration-Report-Apr-2016.csv has started.
Migration-March-Report-2019.csv has started.
09-September-Migration-Report-2013.csv has started.
06-Migration-Report-Jun-2016.csv has started.

In [27]:
tonga = tonga.drop_duplicates().iloc[1:]
tonga = tonga.reset_index()[tonga.index != "country"]
tonga["index"] = pd.to_datetime(tonga["index"])
tonga["Year"] = tonga["index"].dt.year
tonga = tonga.rename({"index": "Date"}, axis=1)

In [28]:

tonga

,Date,Australia,NewZealand,Fiji,AmericanSamoa,WesternSamoa,OtherPacificIslands,Japan,China,India,...,Germany,France,Italy,OtherEuropeanCountries,AllAfricanCountries,UnitedStatesofAmerica,Canada,OtherAmericanCountries,Total,Year
0,2019-11-01,921,2322,197,11,24,34,41,70,4,...,44,62,12,123,5,886,25,8,NaN,2019
1,2013-03-01,426,1306,143,2,31,131,73,33,4,...,53,22,4,84,2,370,21,17,NaN,2013
2,2013-11-01,692,1718,91,0,17,40,32,42,5,...,40,22,10,73,1,485,14,14,NaN,2013
3,2016-02-01,549,1572,191,8,23,54,67,55,9,...,78,9,3,99,5,357,24,13,NaN,2016
4,2016-12-01,1947,4292,286,23,56,50,54,89,1,...,43,5,7,59,5,1059,21,17,NaN,2016
5,2013-10-01,827,2015,108,0,16,75,89,71,7,...,86,32,19,135,1,391,35,17,NaN,2013
6,2016-07-01,1217,2823,206,10,25,94,74,98,15,...,68,50,17,155,9,963,28,20,NaN,2016
7,2016-09-01,1375,2223,217,10,16,36,92,143,8,...,103,30,17,203,6,483,32,7,NaN,2016
8,2013-08-01,1019,2282,121,1,35,40,68,66,4,...,127,53,27,144,5,490,37,27,NaN,2013
9,2015-03-01,634,1405,104,6,14,25,67,65,5,...,65,17,13,96,2,351,14,5,NaN,2015
10,2014-11-01,739,1670,219,5,19,44,49,32,12,...,41,13,3,76,3,420,21,8,NaN,2014
11,2014-03-01,439,1093,133,8,26,40,65,90,3,...,79,7,7,63,2,322,22,24,NaN,2014
12,2019-09-01,1309,2858,208,7,28,52,158,295,19,...,146,53,31,364,7,836,42,55,NaN,2019
13,2014-08-01,1052,2102,192,1,33,49,102,65,4,...,151,71,41,181,10,712,36,23,NaN,2014
14,2014-10-01,881,2100,146,4,31,51,43,86,2,...,78,29,22,112,7,357,18,18,NaN,2014
15,2015-08-01,909,2062,169,24,32,83,132,109,6,...,122,69,31,166,4,658,24,11,NaN,2015
16,2019-12-01,1475,4488,134,5,39,43,59,141,8,...,19,14,5,51,5,1100,11,6,NaN,2019
17,2020-01-01,1019,2317,122,11,18,52,84,119,6,...,32,23,5,71,17,601,18,9,NaN,2020
18,2019-08-01,1583,2908,229,7,16,65,234,338,11,...,139,108,87,335,21,1261,61,36,NaN,2019
19,2014-12-01,1810,4215,171,17,27,49,41,18,3,...,28,17,8,38,2,761,6,5,NaN,2014
21,2021-01-01,0,14,0,0,0,3,0,0,0,...,0,NaN,0,0,0,1,0,0,0,2021
22,2019-01-01,928,2225,135,10,17,79,43,97,14,...,63,6,9,106,1,522,18,4,NaN,2019
23,2015-06-01,999,2559,66,0,0,73,124,44,0,...,102,153,22,190,0,1356,15,0,NaN,2015
24,2014-06-01,911,2166,126,9,16,43,41,57,1,...,42,19,13,66,0,793,50,35,NaN,2014
25,2013-12-01,1699,3562,163,8,21,54,40,62,4,...,32,20,3,60,5,611,7,18,NaN,2013
26,2017-01-01,702,1642,150,24,42,75,70,55,1,...,65,11,8,66,8,354,14,9,NaN,2017
27,2016-01-01,806,1892,125,2,11,74,42,80,5,...,35,21,8,67,1,316,9,13,NaN,2016
28,2015-04-01,744,1780,170,10,6,59,30,56,4,...,52,29,3,87,11,442,8,7,NaN,2015
29,2014-04-01,663,1624,133,6,22,23,33,87,0,...,56,11,5,117,4,430,20,28,NaN,2014
30,2016-05-01,1106,2374,246,37,19,41,31,157,4,...,52,23,13,82,6,901,10,5,NaN,2016
31,2013-04-01,658,1426,136,0,24,70,50,50,1,...,60,25,7,74,5,385,15,6,NaN,2013
32,2015-05-01,766,1894,153,17,29,64,27,55,8,...,59,31,11,68,3,478,28,8,NaN,2015
33,2016-11-01,860,1871,190,8,23,49,47,63,8,...,55,24,7,90,3,466,6,9,NaN,2016
34,2014-05-01,1039,2188,121,3,3,37,26,60,3,...,50,16,14,71,5,424,24,42,NaN,2014
35,2016-10-01,865,2003,181,7,14,61,51,173,2,...,68,34,21,147,4,473,19,21,NaN,2016
36,2014-01-01,713,1720,144,1,23,37,55,59,3,...,65,23,4,55,2,240,14,11,NaN,2014
37,2016-08-01,1200,2352,203,7,44,74,164,188,9,...,102,48,42,224,15,914,37,17,NaN,2016
38,2015-01-01,879,1739,126,7,7,51,28,21,2,...,60,9,9,43,1,238,14,13,NaN,2015
39,2016-03-01,664,1565,134,14,16,29,90,89,4,...,74,16,12,90,1,394,22,12,NaN,2016
40,2015-07-01,1281,2903,198,21,31,96,111,125,7,...,73,39,8,127,12,719,26,19,NaN,2015
41,2016-04-01,683,1692,175,5,23,69,44,84,5,...,73,26,5,93,7,401,11,9,NaN,2016
42,2019-03-01,515,1317,139,3,14,39,94,106,11,...,37,16,2,67,10,588,20,8,NaN,2019
43,2013-09-01,991,1927,150,0,14,54,66,45,4,...,83,16,8,106,2,410,21,13,NaN,2013
44,2016-06-01,1681,2886,201,43,34,96,46,99,4,...,38,25,9,44,8,1380,14,24,NaN,2016